# DSBDA Practical 04 



Perform the following operations using Python on the Facebook metrics data sets
a. Create data subsets 
b. Merge Data
c. Sort Data 
d. Transposing Data 
e. Shape and reshape Data

In [ ]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"E:\Academics\Sem 06\DSBDA\Dataset\dataset_Facebook.csv",sep=';')

In [3]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [5]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [6]:
df.tail()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 500 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         500 non-null    int64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 499 non-null    float64
 7   Lifetime Post Total Reach                                            500 non-null    int64
 8   Lifetime Post Total Impressions                                      500 non-null    int64
 9   Lifetime Engaged Users                                               500 non-null    int64
 10  Lifetime Post Consumers                                              500 non-null    int64
 11  Lifetime Post Consumptions                                           500 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 13  Lifetime Post reach by people who like your Page                     500 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 15  comment                                                              500 non-null    int64
 16  like                                                                 499 non-null    float64
 17  share                                                                496 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

In [9]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [26]:
df1=df.loc[1:20,['Category','Lifetime Post Total Reach','Type','Total Interactions']]
df1

    Category  Lifetime Post Total Reach    Type  Total Interactions
1          2                      10460  Status                 164
2          3                       2413   Photo                  80
3          2                      50128   Photo                1777
4          2                       7244   Photo                 393
5          2                      10472  Status                 186
6          3                      11692   Photo                 279
7          3                      13720   Photo                 339
8          2                      11844  Status                 192
9          3                       4694   Photo                 142
10         2                      21744  Status                 252
11         2                       3112   Photo                 106
12         2                       2847   Photo                 104
13         2                       2549   Photo                 152
14         2                      22784   Photo                 599
15         2                      10060  Status                 108
16         3                       1722   Photo                  54
17         1                      53264   Photo                 713
18         3                       3930  Status                  75
19         3                       1591   Photo                  42
20         2                       2848   Photo                  81

In [27]:
df2=df.loc[30:50,['Post Month','Post Weekday','Post Hour','Lifetime Post Consumers']]
df2

    Post Month  Post Weekday  Post Hour  Lifetime Post Consumers
30          12             4          2                      306
31          12             3         10                      171
32          12             3          3                      237
33          12             2          9                      185
34          12             2          3                      260
35          12             1         11                      284
36          12             1          3                      168
37          12             7         10                      424
38          12             7          9                     5202
39          12             7          3                      284
40          12             6         11                     1912
41          12             6          3                      366
42          12             5         10                     2079
43          12             5          3                      109
44          12             4         11                      316
45          12             4          3                      158
46          12             3         11                     3464
47          12             3          2                       83
48          12             2         11                      283
49          12             2          2                       76
50          11             1          9                       65

In [28]:
df_row=pd.concat([df1,df2])

In [29]:
df_row

,Category,Lifetime Post Total Reach,Type,Total Interactions,Post Month,Post Weekday,Post Hour,Lifetime Post Consumers
1,2.0,10460.0,Status,164.0,NaN,NaN,NaN,NaN
2,3.0,2413.0,Photo,80.0,NaN,NaN,NaN,NaN
3,2.0,50128.0,Photo,1777.0,NaN,NaN,NaN,NaN
4,2.0,7244.0,Photo,393.0,NaN,NaN,NaN,NaN
5,2.0,10472.0,Status,186.0,NaN,NaN,NaN,NaN
6,3.0,11692.0,Photo,279.0,NaN,NaN,NaN,NaN
7,3.0,13720.0,Photo,339.0,NaN,NaN,NaN,NaN
8,2.0,11844.0,Status,192.0,NaN,NaN,NaN,NaN
9,3.0,4694.0,Photo,142.0,NaN,NaN,NaN,NaN
10,2.0,21744.0,Status,252.0,NaN,NaN,NaN,NaN
11,2.0,3112.0,Photo,106.0,NaN,NaN,NaN,NaN
12,2.0,2847.0,Photo,104.0,NaN,NaN,NaN,NaN
13,2.0,2549.0,Photo,152.0,NaN,NaN,NaN,NaN
14,2.0,22784.0,Photo,599.0,NaN,NaN,NaN,NaN
15,2.0,10060.0,Status,108.0,NaN,NaN,NaN,NaN
16,3.0,1722.0,Photo,54.0,NaN,NaN,NaN,NaN
17,1.0,53264.0,Photo,713.0,NaN,NaN,NaN,NaN
18,3.0,3930.0,Status,75.0,NaN,NaN,NaN,NaN
19,3.0,1591.0,Photo,42.0,NaN,NaN,NaN,NaN
20,2.0,2848.0,Photo,81.0,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,12.0,4.0,2.0,306.0
31,NaN,NaN,NaN,NaN,12.0,3.0,10.0,171.0
32,NaN,NaN,NaN,NaN,12.0,3.0,3.0,237.0
33,NaN,NaN,NaN,NaN,12.0,2.0,9.0,185.0
34,NaN,NaN,NaN,NaN,12.0,2.0,3.0,260.0
35,NaN,NaN,NaN,NaN,12.0,1.0,11.0,284.0
36,NaN,NaN,NaN,NaN,12.0,1.0,3.0,168.0
37,NaN,NaN,NaN,NaN,12.0,7.0,10.0,424.0
38,NaN,NaN,NaN,NaN,12.0,7.0,9.0,5202.0
39,NaN,NaN,NaN,NaN,12.0,7.0,3.0,284.0
40,NaN,NaN,NaN,NaN,12.0,6.0,11.0,1912.0
41,NaN,NaN,NaN,NaN,12.0,6.0,3.0,366.0
42,NaN,NaN,NaN,NaN,12.0,5.0,10.0,2079.0
43,NaN,NaN,NaN,NaN,12.0,5.0,3.0,109.0
44,NaN,NaN,NaN,NaN,12.0,4.0,11.0,316.0
45,NaN,NaN,NaN,NaN,12.0,4.0,3.0,158.0
46,NaN,NaN,NaN,NaN,12.0,3.0,11.0,3464.0
47,NaN,NaN,NaN,NaN,12.0,3.0,2.0,83.0
48,NaN,NaN,NaN,NaN,12.0,2.0,11.0,283.0
49,NaN,NaN,NaN,NaN,12.0,2.0,2.0,76.0
50,NaN,NaN,NaN,NaN,11.0,1.0,9.0,65.0

In [30]:
df.shape

(500, 19)

In [18]:
df.melt()

                variable   value
0       Page total likes  139441
1       Page total likes  139441
2       Page total likes  139441
3       Page total likes  139441
4       Page total likes  139441
...                  ...     ...
9495  Total Interactions      84
9496  Total Interactions      75
9497  Total Interactions     115
9498  Total Interactions     136
9499  Total Interactions     119

[9500 rows x 2 columns]

In [19]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

In [31]:
df1.transpose()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
Category,2,3,2,2,2,3,3,2,3,2,2,2,2,2,2,3,1,3,3,2
Lifetime Post Total Reach,10460,2413,50128,7244,10472,11692,13720,11844,4694,21744,3112,2847,2549,22784,10060,1722,53264,3930,1591,2848
Type,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,Status,Photo,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,Photo
Total Interactions,164,80,1777,393,186,279,339,192,142,252,106,104,152,599,108,54,713,75,42,81

In [32]:
df2.transpose()

,30,31,32,33,34,35,36,37,38,39,...,41,42,43,44,45,46,47,48,49,50
Post Month,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,11
Post Weekday,4,3,3,2,2,1,1,7,7,7,...,6,5,5,4,4,3,3,2,2,1
Post Hour,2,10,3,9,3,11,3,10,9,3,...,3,10,3,11,3,11,2,11,2,9
Lifetime Post Consumers,306,171,237,185,260,284,168,424,5202,284,...,366,2079,109,316,158,3464,83,283,76,65

In [33]:
df.sort_values(by='Category')

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
128,136393,Photo,1,10,6,13,0.0,645,1117,195,192,224,989,554,166,0,4.0,1.0,5
144,136013,Photo,1,10,2,3,1.0,50736,140432,1462,1450,8308,46252,15552,1275,3,41.0,9.0,53
145,136013,Photo,1,10,1,10,1.0,5324,11040,528,483,861,8627,4054,448,6,76.0,14.0,96
402,107907,Photo,1,4,3,4,1.0,39568,47128,741,652,957,22022,16096,519,4,128.0,17.0,149
401,107907,Photo,1,4,3,13,1.0,46192,80227,1364,1096,1697,32842,16960,762,9,329.0,38.0,376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,116435,Photo,3,5,1,13,0.0,4202,7633,562,481,730,6173,3298,428,3,148.0,16.0,167
359,116091,Photo,3,5,7,2,0.0,6984,12066,780,631,1116,8188,4776,570,25,256.0,54.0,335
361,116091,Photo,3,5,6,3,0.0,3332,5797,463,406,552,4347,2330,341,0,87.0,18.0,105
143,136013,Photo,3,10,2,10,1.0,16776,39549,714,440,720,11860,6200,590,10,377.0,60.0,447
162,135617,Photo,3,9,6,10,0.0,7512,13633,769,614,951,5503,3260,530,22,290.0,98.0,410

In [38]:
df.sort_index()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [39]:
res_shaping = np.array([1,2,3,4,5,6,7,8,9,10])
res_shaping.reshape(5,2)

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])